<% include ../partials/header %>
<h2>Comments on comments on comments</h2>
<%  post.comments.forEach(function(comment) { %>
	<div>
		<p><a href="/posts/<%= post.id %>/comments/<%= comment._id %>">
			<%= comment.content%>
			</a>
		</p>
		<h5>Originally commented on <%= comment.date %> by <%= user.firstName%></h5>
	
		<p>
		<button><a href="/posts/<%= post.id %>">View post</a></button>
			<button><a href="/posts/<%= post.id %>/comments/<%= comment._id %>">View comment</a></button>

		</p>
	<hr>
</div>
<% }) %>
 <a href="/signup">Signup</a>
 <a href="/login">Login</a>
  <a href="/logout">Logout</a>
	<button><a href="/posts/<%= post.id %>/comments/new">New Comment</a></button>
	<button><a href="/posts">Return Home</a></button>

<% include ../partials/footer %>