<% include ../partials/header %>
<h1>OMG IT'S A REDDIT CLONE</h1>
<h2>Please excuse inaccuracies</h2>
<%  posts.forEach(function(post) { %>
	<div>
		<h4><a href="/posts/<%= post._id %>">
			<%= post.title%>
			</a>
		</h4>
		<h5>Originally posted on <%= post.date %></h5>
		<p><%= post.content %>
		
		</p>
		<p>
			<button class="btn btn-info"><a href="/posts/<%= post._id %>/edit">Edit Post</a></button>

			<button class="btn btn-primary"><a href="/posts/<%= post._id %>/comments/new">Add a comment</a></button>
		</p>
	<hr>
</div>
<% }) %>
 <a class="btn btn-default" href="/signup">Signup</a>
 <a class="btn btn-default" href="/login">Login</a>
 <a class="btn btn-default" href="/logout">Logout</a>
 <a class="btn btn-success" href="/posts/new">Add a new post</a>


<% include ../partials/footer %>